<section class="about">
	<h2>關於TEDx</h2>
	<div class="row">
		<div class="small-12 medium-10 medium-centered large-8 columns about-box">
			<div class="ted-logos" style="background-image: url('/assets/logos/ted.png')"></div>
			<p>TED是全球最具創意與影響力的大型聚會與知識分享平台，TED分別代表Technology、Entertainment、Design。1984年由建築師Richard Wurman在美國矽谷創立，集合設計界、科技界、學術界等各界人才齊聚一堂分享各自最有遠見與最具創意的想法，而獨創的「18分鐘演講」更是改變傳統演講的效果透過18分鐘內更快傳達故事與想法的核心。<br>
		在2002年媒體創業家Chris Andreson買下TED品牌。他將TED納入他的非營利組織Sapling Foundation，並且從2006年開始將過去的演講內容放到TED.com，讓全世界可以免費收看，並且結合社群媒體的力量，廣受世界各地歡迎。</p>
		<br>
		<a href="https://www.ted.com/" class="more">更多關於 TEDx</a>
		</div>
		<div class="small-12 medium-10 medium-centered large-8 columns about-box">
			<div class="ted-logos" style="background-image: url('/assets/logos/tedx.png')"></div>
			<p>T2009年美國TED總部基於ideas worth spreading的理念，透過品牌授權的方式讓世界各地的人們有機會籌劃在地TED風格的演講，一樣的18分鐘挖掘更多身邊周遭的在地故事，帶進更多想法與創新的理念，也因為在地我們能夠有更深入的討論與共鳴，不再只是地球彼端的啓發，而是你我生活中改變的力量。</p>
			<br>
			<a href="https://www.ted.com/about/programs-initiatives/tedx-program" title=""  class="more">更多關於 TEDx Program</a>
		</div>
		<div class="small-12 medium-10 medium-centered large-8 columns about-box">
			<div class="ted-logos" style="background-image: url('/assets/logos/tedxntue-black.png'); background-size: 220px; background-position: center 42px"></div>
			<p>TEDxNTUE 國立臺北教育大學於2014年10月成立，以成為國北教分享交流點子的平台為目標，期望透過舉辦大型年會與小型放映討論會，對校園產生正面的影響。我們希望透過TED看見世界更多的可能性，透過xNTUE挖掘更多在地故事與點子。We want to be the change we want to see in the world. Let's get involved!</p>
			<br>
		</div>
	</div>
</section>
<script> 
$(function() {
  $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
});
</script>