<section class="about">
	<h2>關於TEDx</h2>
	<div class="row">
		<div class="small-10 medium-8 small-centered columns about-box">
			<div class="ted-logos" style="background-image: url('/assets/ted.png')"></div>
			<p>TED是全球最具創意與影響力的大型聚會與知識分享平台，TED分別代表Technology、Entertainment、Design。1984年由建築師Richard Wurman在美國矽谷創立，集合設計界、科技界、學術界等各界人才齊聚一堂分享各自最有遠見與最具創意的想法，而獨創的「18分鐘演講」更是改變傳統演講的效果透過18分鐘內更快傳達故事與想法的核心。<br>
			在2002年媒體創業家Chris Andreson買下TED品牌。他將TED納入他的非營利組織Sapling Foundation，並且從2006年開始將過去的演講內容放到TED.com，讓全世界可以免費收看，並且結合社群媒體的力量，廣受世界各地歡迎。（範例文字）</p>
			<br>
			<a href="https://www.ted.com/" class="more">更多關於 TEDx</a>
		</div>
	</div>
	<div class="row">
		<div class="small-10 medium-8 small-centered columns about-box">
			<div class="ted-logos" style="background-image: url('/assets/tedx.png')"></div>
			<p>TED在2009年開放品牌授權（open licensing）由TED官方授權認可讓全世界有心有能力的人用 TED 的模式和在其品牌規定下，來經營一個TED大會。這個由會員自行策劃，以開放式的精神、實體活動，搭配網路的分享平台，讓更多人參與。<br>TEDx後面主要是以城市名、地方名、學校名為主，讓創意之聲，在各城市遍地開花，使好點子、前瞻性的想法，得以廣為傳播。至今全球每月已有一千多場TEDx在世界各地發生，從貧民窟到大都會，從世界角落到台灣每個地方都以獨特的方式用同樣開放傳播好想法的精神改變當地。（範例文字）</p>
			<br>
			<a href="https://www.ted.com/about/programs-initiatives/tedx-program" title=""  class="more">更多關於 TEDx Program</a>
		</div>
	</div>
	<div class="row">
		<div class="small-10 medium-8 small-centered columns about-box">
			<div class="ted-logos" style="background-image: url('/assets/TEDxNCHU.svg'); background-size: 220px; background-position: center 42px"></div>
			<p>TEDxNCHU成立於2013年校園，在2015年2月獲得TED官方認可TEDxTMU的願景是希望透過TEDx的舞台激發學生們的創意，透過故事的感動喚起你我的行動，讓校園更進步，也藉由這個平台的力量，傳達好故事，讓我們對於所處的時代環境付出更大的責任TEDxNCHU秉持 TED talks一貫精神將 ”Ideas worth spreading“ 的觀念帶進北醫。一群求知若渴的學生，能透過講者分享他們獨到的見解和不凡的生命故事，開啟一扇窗，對於所處社會更勇於思考且充滿關懷。（範例文字）</p>
			<br>
			<a href=""  class="more">觀看TEDxNCHU介紹影片（範例文字</a>
		</div>
	</div>
</section>
<script> 
$(function() {
  $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
});
</script>