<div class="contact">
	<h2>聯絡我們</h2>
	<div class="row">
		<div class="small-10 medium-8 large-6 small-centered columns">
			<div class="contact-box">
				<h3>email：<a href="mailto:tedxntue@gmail.com">tedxntue@gmail.com</a></h3>
				<h3>地址：<a href="https://www.google.com.tw/maps/place/106%E5%8F%B0%E5%8C%97%E5%B8%82%E5%A4%A7%E5%AE%89%E5%8D%80%E5%92%8C%E5%B9%B3%E6%9D%B1%E8%B7%AF%E4%BA%8C%E6%AE%B5134%E8%99%9F%E5%9C%8B%E7%AB%8B%E8%87%BA%E5%8C%97%E6%95%99%E8%82%B2%E5%A4%A7%E5%AD%B8/@25.0244494,121.5447232,17z/data=!4m2!3m1!1s0x3442aa2e930a0d53:0x4931afb56bc04f78">臺北市大安區和平東路2段134號</a></h3>
				<!-- <a href="" rel="open" class="contact-btn">連言給我們</a> -->
			</div>
		</div>
	</div>
</div>

<script>
$(function() {
  $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
  $('.contact').css("height", function(){ 
    return $('body').height() - 142;
	});
});
</script>