<div class="contact">
	<div class="row">
		<div class="small-10 medium-8 large-6 small-centered columns">
			<div class="contact-box">
			<h2>聯絡我們</h2>
				<p>email：<a href="mailto:tough@fontech.com.tw">tough@fontech.com.tw</a></p>
				<p>電話：<a href="tel:0911662343">0911662343</a></p>
				<p>地址：<a href="">台北市和平東路oo號</a></p>
				<a href="" rel="open" class="contact-btn">連言給我們</a>
			</div>
		</div>
	</div>
</div>

<script>
$(function() {
  $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');

});
</script>