<div class="partnar">
	<h2>贊助廠商</h2>
	<div class="partner-hero">
		<h3>EDxNCHU成立於2013年校園，在2015年2月獲得TED官方認可TEDxTMU的願景是希望透過TEDx的舞台激發學生們的創意，透過故事的感動喚起你我的行動，讓校園更進步。</h3>
	</div>
</div>
<div class="row">
	<div class="small-12 medium-6 large-3 columns partners">
		<h3>主辦單位</h3>
		<div class="partner-logo"></div>
		<div class="partner-logo"></div>
		<div class="partner-logo"></div>
		<div class="partner-logo"></div>
		<div class="partner-logo"></div>
	</div>
	<div class="small-12 medium-6 large-3 columns partners">
		<h3>協辦單位</h3>
		<div class="partner-logo"></div>
		<div class="partner-logo"></div>
		<div class="partner-logo"></div>
		<div class="partner-logo"></div>
		<div class="partner-logo"></div>
	</div>
	<div class="small-12 medium-6 large-3 columns partners">
		<h3>贊助廠商</h3>
		<div class="partner-logo"></div>
		<div class="partner-logo"></div>
		<div class="partner-logo"></div>
		<div class="partner-logo"></div>
		<div class="partner-logo"></div>
	</div>
	<div class="small-12 medium-6 large-3 columns partners">
		<h3>特別感謝</h3>
		<div class="partner-logo"></div>
		<div class="partner-logo"></div>
		<div class="partner-logo"></div>
		<div class="partner-logo"></div>
		<div class="partner-logo"></div>
	</div>
</div>
<div class="hero"></div>
<script> 
$(function() {
  $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
});
</script>
