<section class="about form-bg">
<div class="row form">
<div class="small-12 coloumns">
<div class="ss-form-container"><div class="ss-header-image-container"><div class="ss-header-image-image"><div class="ss-header-image-sizer"></div></div></div>
<div class="ss-top-of-page"><div class="ss-form-heading"><h1 class="ss-form-title" dir="ltr">【TEDxNTUE】2015年 新成員招募報名表</h1>


<div class="ss-required-asterisk" aria-hidden="true"></div></div></div>
<div class="ss-form"><form action="https://docs.google.com/forms/d/1NIoOIr6BUC8dCPKrRIkiEKuQsfulzydhJ23szhSGhbk/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_2088739127"><div class="ss-q-title">你認為TED是什麼？
<label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
<span class="ss-required-asterisk" aria-hidden="true"></span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<textarea name="entry.2088739127" rows="8" cols="0" class="ss-q-long" id="entry_2088739127" dir="auto" aria-label="你認為TED是什麼？  " aria-required="true" required=""></textarea>
<div class="error-message" id="199785993_errorMessage"></div>
<div class="required-message"></div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_704005036"><div class="ss-q-title">你最喜歡哪一篇TED talk ？為什麼？
<label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
<span class="ss-required-asterisk" aria-hidden="true"></span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<textarea name="entry.704005036" rows="8" cols="0" class="ss-q-long" id="entry_704005036" dir="auto" aria-label="你最喜歡哪一篇TED talk ？為什麼？  " aria-required="true" required=""></textarea>
<div class="error-message" id="1498172506_errorMessage"></div>
<div class="required-message"></div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1317764471"><div class="ss-q-title">如果你是策展人，你會想邀請誰到TEDxNTUE的舞台上分享？為什麼？
<label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
<span class="ss-required-asterisk" aria-hidden="true"></span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<textarea name="entry.1317764471" rows="8" cols="0" class="ss-q-long" id="entry_1317764471" dir="auto" aria-label="如果你是策展人，你會想邀請誰到TEDxNTUE的舞台上分享？為什麼？  " aria-required="true" required=""></textarea>
<div class="error-message" id="1309747779_errorMessage"></div>
<div class="required-message"></div>

<div class="name">個人資料填寫</div>
</div></div></div>
<div class="medium-5 small-12 coloumns">
 <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1427484235"><div class="ss-q-title">
<label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
<span class="ss-required-asterisk" aria-hidden="true"></span></div>
<div class="ss-q-help ss-secondary-text" dir="auto">姓名</div></label>
<input type="text" name="entry.1427484235" value="" class="ss-q-short" id="entry_1427484235" dir="auto" aria-label="個人資料填寫 姓名 " aria-required="true" required="" title="">
<div class="error-message" id="464338912_errorMessage"></div>
<div class="required-message"></div>
</div></div></div>
</div>


<div class="medium-5 small-12 coloumns">
 <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1605645182"><div class="ss-q-title">
<label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
<span class="ss-required-asterisk" aria-hidden="true"></span></div>
<div class="ss-q-help ss-secondary-text" dir="auto">系級</div></label>
<input type="text" name="entry.1605645182" value="" class="ss-q-short" id="entry_1605645182" dir="auto" aria-label=" 系級 " aria-required="true" required="" title="">
<div class="error-message" id="576064752_errorMessage"></div>
<div class="required-message"></div>
</div></div></div>
</div>
<div class="medium-5 small-12 coloumns">
 <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_521509238"><div class="ss-q-title">
<label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
<span class="ss-required-asterisk" aria-hidden="true"></span></div>
<div class="ss-q-help ss-secondary-text" dir="auto">電話</div></label>
<input type="text" name="entry.521509238" value="" class="ss-q-short" id="entry_521509238" dir="auto" aria-label=" 電話 " aria-required="true" required="" title="">
<div class="error-message" id="1974465034_errorMessage"></div>
<div class="required-message"></div>
</div></div></div> 
</div>
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_351331668"><div class="ss-q-title">
<label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
<span class="ss-required-asterisk" aria-hidden="true"></span></div>
<div class="ss-q-help ss-secondary-text" dir="auto">信箱</div></label>
<input type="text" name="entry.351331668" value="" class="ss-q-short" id="entry_351331668" dir="auto" aria-label=" 信箱 " aria-required="true" required="" title="">
<div class="error-message" id="972765669_errorMessage"></div>
<div class="required-message"></div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1980914475"><div class="ss-q-title">
<label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
<span class="ss-required-asterisk" aria-hidden="true"></span></div>
<div class="ss-q-help ss-secondary-text" dir="auto">專長</div></label>
<input type="text" name="entry.1980914475" value="" class="ss-q-short" id="entry_1980914475" dir="auto" aria-label=" 專長 " aria-required="true" required="" title="">
<div class="error-message" id="1086000626_errorMessage"></div>
<div class="required-message"></div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_962163407"><div class="ss-q-title">請問你曾經有什麼樣的社團經驗或擔任什麼職位呢？
<label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
<span class="ss-required-asterisk" aria-hidden="true"></span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<textarea name="entry.962163407" rows="8" cols="0" class="ss-q-long" id="entry_962163407" dir="auto" aria-label="請問你曾經有什麼樣的社團經驗或擔任什麼職位呢？  " aria-required="true" required=""></textarea>
<div class="error-message" id="437981965_errorMessage"></div>
<div class="required-message"></div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1449210352"><div class="ss-q-title">這學期你的時間分配是...? 
<label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
<span class="ss-required-asterisk" aria-hidden="true"></span></div>
<div class="ss-q-help ss-secondary-text" dir="auto">請將TEDxNTUE、課業、家人朋友、其他的時間做百分比分配  ex.TEDxNTUE 30%、課業35%、家人朋友25%、其他10%</div></label>
<textarea name="entry.1449210352" rows="8" cols="0" class="ss-q-long" id="entry_1449210352" dir="auto" aria-label="這學期你的時間分配是...?  請將TEDxNTUE、課業、家人朋友、其他的時間做百分比分配  ex.TEDxNTUE 30%、課業35%、家人朋友25%、其他10% " aria-required="true" required=""></textarea>
<div class="error-message" id="388116924_errorMessage"></div>
<div class="required-message"></div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_236296489"><div class="ss-q-title">請問你接下來一年有什麼計劃呢？（請列點詳述 ）
<label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
<span class="ss-required-asterisk" aria-hidden="true"></span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<textarea name="entry.236296489" rows="8" cols="0" class="ss-q-long" id="entry_236296489" dir="auto" aria-label="請問你接下來一年有什麼計劃呢？（請列點詳述 ）  " aria-required="true" required=""></textarea>
<div class="error-message" id="1676337641_errorMessage"></div>
<div class="required-message"></div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_676811893"><div class="ss-q-title">寫下關於你的三個關鍵字，並簡單介紹你自己
<label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
<span class="ss-required-asterisk" aria-hidden="true"></span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<textarea name="entry.676811893" rows="8" cols="0" class="ss-q-long" id="entry_676811893" dir="auto" aria-label="寫下關於你的三個關鍵字，並簡單介紹你自己  " aria-required="true" required=""></textarea>
<div class="error-message" id="1659197205_errorMessage"></div>
<div class="required-message"></div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_200864524"><div class="ss-q-title">請選擇你的第一志願，並寫出原因
<label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
<span class="ss-required-asterisk" aria-hidden="true"></span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>

<ul class="ss-choices" role="radiogroup" aria-label="請選擇你的第一志願，並寫出原因  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.408087856" value="公共關係部" id="group_408087856_1" role="radio" class="ss-q-radio" aria-label="公共關係部" required="" aria-required="true"></span>
<span class="ss-choice-label">公共關係部</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.408087856" value="講者研究部" id="group_408087856_2" role="radio" class="ss-q-radio" aria-label="講者研究部" required="" aria-required="true"></span>
<span class="ss-choice-label">講者研究部</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.408087856" value="行銷設計部" id="group_408087856_3" role="radio" class="ss-q-radio" aria-label="行銷設計部" required="" aria-required="true"></span>
<span class="ss-choice-label">行銷設計部</span>
</label></li></ul>
<div class="error-message" id="200864524_errorMessage"></div>
<div class="required-message"></div></div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_858845496"><div class="ss-q-title">
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<textarea name="entry.858845496" rows="8" cols="0" class="ss-q-long" id="entry_858845496" dir="auto" aria-label="  "></textarea>
<div class="error-message" id="111151503_errorMessage"></div>
<div class="required-message"></div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1999110176"><div class="ss-q-title">請選擇你的第二志願，並寫出原因
<label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
<span class="ss-required-asterisk" aria-hidden="true"></span></div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>

<ul class="ss-choices" role="radiogroup" aria-label="請選擇你的第二志願，並寫出原因  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1112667547" value="公共關係部" id="group_1112667547_1" role="radio" class="ss-q-radio" aria-label="公共關係部" required="" aria-required="true"></span>
<span class="ss-choice-label">公共關係部</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1112667547" value="講者研究部" id="group_1112667547_2" role="radio" class="ss-q-radio" aria-label="講者研究部" required="" aria-required="true"></span>
<span class="ss-choice-label">講者研究部</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1112667547" value="行銷設計部" id="group_1112667547_3" role="radio" class="ss-q-radio" aria-label="行銷設計部" required="" aria-required="true"></span>
<span class="ss-choice-label">行銷設計部</span>
</label></li></ul>
<div class="error-message" id="1999110176_errorMessage"></div>
<div class="required-message"></div></div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1886277188"><div class="ss-q-title">
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<textarea name="entry.1886277188" rows="8" cols="0" class="ss-q-long" id="entry_1886277188" dir="auto" aria-label="  "></textarea>
<div class="error-message" id="445693232_errorMessage"></div>
<div class="required-message"></div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item ss-item-required ss-checkbox"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_2077447542"><div class="ss-q-title">請選擇你可以面試的時間
<label for="itemView.getDomIdToLabel()" aria-label="(必填欄位)"></label>
<span class="ss-required-asterisk" aria-hidden="true"></span></div>
<div class="ss-q-help ss-secondary-text" dir="auto">可複選</div></label>

<ul class="ss-choices ss-choices-required" role="group" aria-label="請選擇你可以面試的時間 可複選 "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.103364271" value="９／２９中午１２：２０" id="group_103364271_1" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">９／２９中午１２：２０</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.103364271" value="９／３０中午１２：２０" id="group_103364271_2" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">９／３０中午１２：２０</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.103364271" value="９／２９晚上７：００" id="group_103364271_3" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">９／２９晚上７：００</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.103364271" value="９／３０晚上７：００" id="group_103364271_4" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
<span class="ss-choice-label">９／３０晚上７：００</span>
</label></li></ul>
<div class="error-message" id="2077447542_errorMessage"></div>
<div class="required-message"></div></div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="auto" class="ss-item  ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1845528430"><div class="ss-q-title">想對我們說些什麼呢？
</div>
<div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
<textarea name="entry.1845528430" rows="8" cols="0" class="ss-q-long" id="entry_1845528430" dir="auto" aria-label="想對我們說些什麼呢？  "></textarea>
<div class="error-message" id="1264057646_errorMessage"></div>
<div class="required-message"></div>
</div></div></div>
<input type="hidden" name="draftResponse" value="[,,&quot;-6233327170211105571&quot;]
">
<input type="hidden" name="pageHistory" value="0">

<input type="hidden" name="fvv" value="0">


<input type="hidden" name="fbzx" value="-6233327170211105571">

<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
<input type="submit" name="submit" value="提交" id="ss-submit" class="submit-button jfk-button jfk-button-action ">
<div class="ss-password-warning ss-secondary-text"></div></td>
<td id="progress-container"><div id="progress-bar" class="jfk-progressBar-nonBlocking progress-bar-horizontal goog-inline-block"><div class="progress-bar-horizontal" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" role="progressbar" aria-live="polite"><div class="progress-bar-thumb" style="width: 100%;"></div></div></div>
<div id="progress-label" class="progress-label"></div></td></tr></tbody></table></div></ol></form></div>
<div class="ss-footer"><div class="ss-attribution"></div>
<div class="ss-legal"><div class="disclaimer-separator"></div>
<div class="disclaimer" dir="ltr"><div class="powered-by-logo"><span class="powered-by-text"></span>
<a href="https://www.google.com/forms/about/?utm_source=product&amp;utm_medium=forms_logo&amp;utm_campaign=forms"><div class="ss-logo-container ss-logo-css-container"><div class="ss-logo-image"></div>
</div></a></div>
<div class="ss-terms">
<br>
</div></div></div></div>

</div>
</div>
</div>

</section>