body
	width: 100%
	height: auto
	margin: 0 auto
	position: relative
header
	position: relative
	z-index: $z-top
	text-align: right
.index-nav
	width: 100%
	margin: 0 auto
	padding: 16px 20px 0 20px
	position: absolute
	&:after
		content: ''
		display: block
		clear: both
	.navbar
		float: right
		li
			+inline-block
			margin-left: 32px
			padding-top: 24px
			a
				display: inline
				font-size: 20px
				&:hover
					color: $theme
					border-bottom: 2px solid $theme
					text-shadow: 0 0 5px rgba(255, 255, 255, 0.3)

.logo
	width: 200px
	height: 50px
	display: block
	float: left
	// background-color: #FFF
	background-image: image-url('logos/tedxntue-white.png')
	background-size: contain
	background-position: center center
	background-repeat: no-repeat
	overflow: hidden
	h1
		margin-left: 9999px
.normal-nav
	background-color: $theme
	text-align: left
	padding: 0 20px
	font-size: 0
	.logo
		height: 70px
		display: block
		float: none
		margin: 0 auto
		width: 15%
		background-color: $theme-dark
		border-left: 12px solid $theme-dark
		border-right: 12px solid $theme-dark
		background-image: image-url('logos/tedxntue-all-white.png')
		+inline-block
	.navbar
		float: none
		+inline-block
		width: 85%
		max-width: 1280px
		margin: 0 auto
		text-align: left
		li
			+inline-block
			margin-left: 0
			width: 16.6%
			line-height: 40px
			padding-top: 0
			text-align: center
			a
				display: block
				font-size: 18px
				line-height: 70px
				&:hover
					background-color: rgba($theme-light, 1)
					color: white
					+transition(0.3s)
		.active
			background-color: #FFF
			color: $theme
			&:hover
				background-color: #FFF
				color: $theme



.scrollNav
	width: 100%
	background-color: rgba(30, 0, 0, 0.9)
	position: fixed
	padding: 0 20px
	top: 0
	margin: 0 auto
	background-color: $theme
	+transition(0.8s)
	+box-shadow(0 1px 5px $fog)
	.logo
		display: none
	.navbar
		float: none
		max-width: 1280px
		margin: 0 auto
		text-align: center
		width: 100%
		display: block
		li
			+inline-block
			margin-left: 0
			width: 16%
			padding-top: 0
			text-align: center
			a
				display: block
				font-size: 18px
				line-height: 48px
				&:hover
					background-color: $theme-dark
					border-bottom: 0
					color: #ffffff

.normal-nav.scrollNav
	background-color: $theme
// 	text-align: center
// 	background-color: red
// 	a
// 		+inline-block
// 		float: right
// 		width: 20%
// 		padding: 16px 32px
// 		font-size: 18px
// 		&:hover
// 			background-color: $theme-light
// 	.active
// 		border-bottom: 1px solid $theme-light



// .company-name
// 	text-align: center
// .slogan
// 	text-align: center
// 	margin: 72px auto
// 	// font-size: big-font
// .lang
// 	text-align: right
// 	margin: 0 8px 12px 0
// .main
// 	padding: 20px 0 32px 0
// .article-box
// 	padding: 16px 8px
// 	margin-bottom: 20px
// 	display: block
// 	&:hover
// 		background-color: $theme-light
// 		+transition(0.3s)
// .article-lists
// 	padding-left: 8px
// .article-list
// 	display: inline

// .slider
// 	background-color: $theme
// footer
// 	padding-top: 16px
// 	padding-bottom: 16px
// 	background-color: $theme-light
// 	color: $theme
// 	input
// 		height: 32px
// 		width: 100%
// 		border: 1px solid $theme
// 		+border-radius(3px)
// 		padding: 0 12px
// 		font-size: 14px
// 	.footer-name
// 		font-size: 16px
// 	p
// 		text-align: center
// 		font-size: 16px
footer
	padding-top: 48px
	padding-bottom: 16px
	border-top: 4px solid $theme
	background-color: #ffffff

	p
		color: $theme
		font-size: 14px
		display: block
		margin-bottom: 40px
	.logo
		background-image: image-url('logos/tedxntue-black.png')
		background-position: center center
		background-size: contain
		background-repeat: no-repeat
		background-position: center center
		overflow: hidden
		h1
			margin-left: 9999px