body
	width: 100%
	height: auto
	margin: 0 auto
header
	position: relative
	z-index: $z-top
	text-align: right
	.navbar
		width: 100%
		max-width: 1280px
		margin: 16px auto 0 auto
		li
			+inline-block
			margin-left: 32px
			padding-top: 24px
			a
				display: inline
				font-size: 20px
		.logo
			width: 280px
			height: 70px
			display: block
			float: left
			// background-color: #FFF
			background-image: image-url('tedxntue-logo.png')
			background-size: contain
			background-position: center center
			background-repeat: no-repeat
			overflow: hidden
			h1
				margin-left: 9999px
#video-background, video
	width: 100%
	position: absolute
	top: -32px
	left: 0
	z-index: $z-bottom
.intro
	padding-top: 53%
	background-image: image-url('tedxntue-logo.png')
	
	h1, h2, p
		text-align: center
	h1
		color: $theme
// 	text-align: center
// 	background-color: red
// 	a
// 		+inline-block
// 		float: right
// 		width: 20%
// 		padding: 16px 32px
// 		font-size: 18px
// 		&:hover
// 			background-color: $theme-light
// 	.active
// 		border-bottom: 1px solid $theme-light



// .company-name
// 	text-align: center
// .slogan
// 	text-align: center
// 	margin: 72px auto
// 	// font-size: big-font
// .lang
// 	text-align: right
// 	margin: 0 8px 12px 0
// .main
// 	padding: 20px 0 32px 0
// .article-box
// 	padding: 16px 8px
// 	margin-bottom: 20px
// 	display: block
// 	&:hover
// 		background-color: $theme-light
// 		+transition(0.3s)
// .article-lists
// 	padding-left: 8px
// .article-list
// 	display: inline

// .slider
// 	background-color: $theme
// footer
// 	padding-top: 16px
// 	padding-bottom: 16px
// 	background-color: $theme-light
// 	color: $theme
// 	input
// 		height: 32px
// 		width: 100%
// 		border: 1px solid $theme
// 		+border-radius(3px)
// 		padding: 0 12px
// 		font-size: 14px
// 	.footer-name
// 		font-size: 16px
// 	p
// 		text-align: center
// 		font-size: 16px